<h1>Edit Post</h1>

<%= render '/shared/errors' %>

<form action="<%= post_url(@post) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

<%= render 'form', post: @post %>

</form>
